* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.container {
  margin-top: 2rem;
}

.card {
  background-color: #27ae60;
}

.card-img-top {
  width: 50%;
  margin: 2rem auto;
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #000;
  background-color: grey;
}

.form-control {
  width: 70%;
  margin: 0.5rem auto;
}

.btn {
  margin-bottom: 1rem;
  border: solid 2px #cecece;
}
